
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
         background-image: url("https://previews.123rf.com/images/somegirl/somegirl1708/somegirl170800073/84059815-food-seasoning-background-blue-coloured-rustic-wooden-background-lemon-slices-herbs-pepper-sea-salt-.jpg");
         background-size: cover;
         height: 190vh;
         padding: 20px 8%;
}

.one,td,th{
    color: aliceblue;
}
table, th, td {
    border: 2px solid black;
  }
table{
    table-layout: auto;
    background-color: white;
    width: 800px;
    height: 400px;
    border-collapse: collapse;
    transform: translateY(5%);
}
th,td {
    width: 20%;
    height: -20%;
}

h3{
    text-align: center;
    color: black;
}
h2{
    color:red;
    text-align: center;
}
h1{
    text-align: center;
    color: red;
    font-weight: 800;
    font-size: 35px;
}
p{
    color: red;
    text-align: center;
    font-size: 30px;
    transform: translateY(80%);
}
header{
    text-align: left;
}
#centre{
    position: relative;
    left:20%
}
#image{
    transform:translate(-110px, -20px);
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100%;
}
.Menu, .About, .Reservation, .Contact{
    font-size: x-large;
    align-self: center;
}
a{
    color: red;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
th{
    color: red;
}
