.topic {
display: block;
margin:0px;
padding: 0px;
position: fixed;
}


/* .topic a{
    color: black;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    
  } */
  
   .cont{
    margin-top: 50px;
    text-align: left;
    color: olivedrab;
    
}

.cont p {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
body {
    background-color: yellow;
}
footer {
    margin-top: 10px;
}
.carousel{
    height: 100%;
    width: 100%;
    z-index: -1;
}

.carousel-item img{
    height: 100vh;
}

.intro{
    position: relative;
   margin-top: -400px;
   text-align: center;
   
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 10vh;
}
.Menu, .About, .Reservation, .Contact{
    font-size: x-large;
    align-self: center;
}
a:hover {
    color: red;
    text-decoration: underline;

}

.one{
    position: relative;
    top: -150px;
}

.menu a, a:hover {
    color: red;
    text-decoration: underline;

}
